@import "./default";

/* Parent properties */
.d-flex {
    display: flex;
}

.fd-column {
    flex-direction: column;
}

.fai-center {
    align-items: center;
}

.fjc-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Child properties */
.fas-flex-end {
    align-self: flex-end;
}

.fgrow-1 {
    flex-grow: 1;
}
