.default-layout {
    height: 100vh;
    position: relative;

    aside {
        background-color: #fff;
        padding: 20px;
        width:  250px;
        box-shadow: 3px 0 20px $color-light-gray;
        z-index: 10;
        position: fixed ;
        top: 0;
        bottom: 0;
    }

    main {
        width: 100%;
        margin-left: 200px;
    }
}


.logo {
    color: $color-yellow-green-crayola;
    font-family: 'Pacifico';
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;


    &__subtitle {
        color: $color-cadet-blue-crayola;
        font-family: 'Montserrat';
        font-size: 12px;
        font-weight: bold;
        display: block;
    }
}

.user {
    text-align: center;
    margin-bottom: 20px;
}
