.input {
    max-width: 290px;

    label {
        color: $color-cadet-blue-crayola;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
    }

        &__icon {
            position: absolute;
            right: 0px;
            color: $color-light-gray;
            
            &:hover {
                cursor: pointer;
            }
        }
}