.modal-wrapper {
    display: none;

    .curtain {
        background: black;
        opacity: 0.5;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
    }

    .modal-container {
        background: transparent;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 101;


        .modal {
            max-width: 501px;
            background: white;
            min-height: 200px;
            margin: auto;
            border-radius: 6px;

            &__header {
                padding: 8px;
            }
        }
    }


	&.visible {
		display: block;
	}
}