.search-input {
    position: relative;
    input {
        color: $color-davys-grey;
        width: 450px;
        line-height: 56px;
        border-radius: 3em;
        outline: none;
        border: none;
        box-shadow: 0 4px 10px $color-light-gray;
        padding: 10px 0 10px 75px;
        font-size: 22px;

        &.medium {
            width: 300px;
            line-height: 37px;
            padding: 7px 0 7px 50px;
            font-size: 18px;
        }
    }

    .icon {
        position: absolute;
        font-size: 32px;
        left: 30px;

        &.medium {
            font-size: 22px;
            left: 20px
        }
    }
}