$color-key-lime: #d9ed92;
$color-yellow-green-crayola: #b5e48c;
$color-granny-smith-apple: #99d98c;
$color-ocean-green: #76c893;
$color-keppel: #52b69a;
$color-viridian-green: #34a0a4;
$color-blue-munsell: #168AAD;
$color-celadon-blue: #1A759F;
$color-lapis-lazuli: #1E6091;
$color-yale-blue: #184E77;

$color-cultured: #f8f9faff;
$color-cultured-2: #e9ecefff;
$color-gainsboro: #dee2e6ff;
$color-light-gray: #ced4daff;
$color-cadet-blue-crayola: #adb5bdff;
$color-slate-gray: #6c757dff;
$color-davys-grey: #495057ff;
$color-gunmetal: #343a40ff;
$color-charleston-green: #212529ff;