.c-text-primary {
	color: $color-davys-grey;
	stroke: $color-davys-grey !important;
}

.c-secondary {
	color: $color-ocean-green;
	stroke: $color-ocean-green !important;

}

.c-accent {
	color: $color-yellow-green-crayola;
	stroke: $color-yellow-green-crayola !important;

}
.c-success {
	color: $color-trees;
	stroke: $color-trees !important;

}
.c-info {
	color: $color-seas;
	stroke: $color-seas !important;
}
.c-warning {
	color: $color-tangy-mustard;
	stroke: $color-tangy-mustard !important;

}

.c-danger {
	color: $color-scarlett;
	stroke: $color-scarlett !important;
}

