.meal-plan-page {
    width: 1080px;
    margin: 0 auto;

    .page-title {
        text-align: center;
    }

    .meal-event {
        background-color: $color-blue-munsell; 
        border-radius: 4px;
        display: -webkit-box;
        color: $color-cultured;
        cursor: pointer;
        font-size: 14px;
        height: 26px;
        margin: 0 1px 3px;
        padding: 6px 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
    }
}
