.recipes-edit {
    width: 978px;
    margin: 40px auto 0;
    padding-top: 30px;

    .recipe-info {
        padding-top: 30px;
    }

    .recipe-header {
        .image-container {
            max-height: 480px;
            border-radius: 10px;
            overflow: hidden;
        }

        img {
            width: 480px;
        }
    }

    .recipe-last-prep {
        font-size: 14px;

        span {
            color: $color-blue-munsell;
        }
    }

    .recipe-name {
        padding-right: 20px;
    }

    .recipe-tags {
        span {
            font-size: 14px;
            text-transform: capitalize;
            color: $color-cadet-blue-crayola;
            font-weight: bold;
        }
    }

    .recipe-stats {
        text-align: center;
        width: 450px;

        .stat {
            &:last-child {
                border: none;
            }

            border-right: 1px solid $color-light-gray;
            font-weight: 300;

            &__value {
                font-size: 40px;
                text-align: center;
            }
            
            &__name {
                font-size: 14px;
            }
        }
    }
}