.navbar-container {
    margin-left: 20px;
    position: absolute;
    top: 170px;
    bottom: 0;

    .login { 
        margin-top: auto
    }

}

.navbar {
    font-size: 13px;
    font-weight: 400;

    > * {
        margin-bottom: 16px;
    }
    
    a {
        color: $color-slate-gray;

        &:hover {
            color: $color-charleston-green;
        }
    }
}