.navbar-container {
    margin-left: 20px;
    position: absolute;
    top: 170px;
    bottom: 20px;

    .login { 
        text-align: center;
        margin-top: auto;
        color: $color-slate-gray;
        &:hover {
            color: $color-charleston-green;
        }

        a {
            color: $color-slate-gray;
            &:hover {
                color: $color-charleston-green;
            }
        }
    }


}

.navbar {
    font-size: 13px;
    font-weight: 400;

    > * {
        margin-bottom: 16px;
    }
    
    a {
        color: $color-slate-gray;

        &:hover {
            color: $color-charleston-green;
        }
    }
}